doctype html
html(lang="de")
    head
        link(href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel=("stylesheet"))
        link(href="css/styles.css" rel="stylesheet")
        title Personalien eingeben
        script(src="app/require.config-min.js")
        script(data-main="app.js" src="bower_components/requirejs/require.js")
    body
        .container
            .col-sm-12.page-header
                h1 Personalien eingeben
            form.form-horizontal
                - var lclass="col-xs-4"
                - var iclass="col-xs-8"
                .form-group
                    label(for="lastname" class=lclass) Name
                    input#lastname(type="text",placeholder="Name" class=iclass)
                .form-group
                    label(for="firstname" class=lclass) Vorname           
                    input#firstname(class=iclass,type="text",placeholder="Vorname(n)")
                .form-group
                    label(class=lclass,for="birthdate") Geburtsdatum
                    input#birthdate(class=iclass,type="date",placeholder="Geburtsdatum")
                .form-group
                    label(class=lclass,for="street") Strasse
                    input#street(class=iclass,type="text",placeholder="Strasse")
                .form-group
                    label(class=lclass for="place") Plz, Ort
                    input#place(class=iclass type="text" placeholder="PLZ Ort")
                hr
                .form-group
                    label(class=lclass for="kk") Krankenkasse
                    input#kk(class=iclass type="text" placeholder="Krankenkasse")
                .form-group
                    label(class=lclass for="kknr") Versichertennummer
                    input#kknr(class=iclass type="text" placholder="Krankenversichertennummer")
                    