//-
  /********************************************
   * This file is part of Webelexis           *
   * Copyright (c) 2019-2022 by G. Weirich         *
   * License and Terms see LICENSE            *
   ********************************************/
   //

extends layout

block content
  .container
    .card
      .card-header
        .card-title.row
          .col-sm-3.col-md-1.text-center
            a(href="/termin/list/"+prevDay)
              img(src="/images/arrow-left.svg" width="40px;" alt="Tag zurück" title="Tag zurück")
          .col-sm-6.col-md-8.text-center
            span Freie Termine am #{tdate}
          .col-sm-3.col-md-1.text-center
            a(href="/termin/list/"+nextDay)
              img(src="/images/arrow-left.svg" width="40px" style="transform:scaleX(-1)" alt="Tag vor" title="Tag vor")
      .card-body
        form.form(action="/termin/set" method="post")
          .form-row
            .col-3
              each slot in slots
                .form-check
                  input.form-check-input(type="radio" name="appnts" value=slot.appnt id=slot.id)
                  label.form-check-label(for=slot style="margin-top:3px;") #{slot.human}
            .col-9
              p Bitte wählen Sie den gewünschten Termin und geben Sie unten Ihre Daten ein. Über die Verwendung der Daten orientiert Sie die <a href="/datenschutz">Datenschutz-Seite</a>
          .form-row.my-4
            .col
              input.form-control(type="email" name="email" id="email" placeholder="E-Mail Adresse")
            .col
              input.form-control(type="text" name="bdate" id="bdate" placeholder="Geburtsdatum (tt.mm.jjjj)")
          .form-row.my-4
            label(for="reason") Wenn Sie möchten, geben Sie bitte noch einige Stichworte zum Grund des Besuchs ein:
            textarea#reason(name="reason" style="width:100%;" rows="4")
          .form-row
           .form-check
             input.form-check-input#sendmail(type="checkbox" name="sendmail" value="X")
             label.form-check-label(for="sendmail" style="margin-top:3px;margin-left:2px") Geben Sie bitte hier an, wenn Sie den Termin per Mail bestätigt haben möchten.

          input.my-4.btn.btn-primary(type="submit" value="Absenden")
