extends ../partials/a5

block doctitle
  span.topleft Arztzeugnis

block content
  .leftrow
    span(style="font-size:16px;font-weight:bold;")= mandator.name
    br
    span= mandator.subtitle
    br
    span= mandator.street
    br
    span= mandator.place
  .rightrow
    table.header
      tr
        td Tel.:
        td #{mandator.phone}
      tr
        td E-Mail:
        td #{mandator.email}
      tr
        td ZSR:
        td #{mandator.zsr}
      tr
        td GLN:
        td #{mandator.gln}
  .payload

    .concernleft  [Patient.bezeichnung1] [Patient.bezeichnung2], [Patient.geburtsdatum]
    .contents
      p.
        Steht wegen [auf.grund] in meiner Behandlung. [patient:mw:Er/Sie] war/ist vom [auf.datumvon] bis zum [auf.datumbis] zu [auf.prozent]% arbeitsunfähig.
      p [auf.aufzusatz]
