extends layout

block content
  .container
    .card
      .card-header
        .card-title
          a(href="/termin/list/"+prevDay)
            img(src="/static/arrow-left.svg" width="40px;")
          span.h3.mx-4 Freie Termine am #{tdate}
          a(href="/termin/list/"+nextDay)
            img(src="/static/arrow-left.svg" width="40px" style="transform:scaleX(-1)")
      .card-body
        form.form(action="/termin/set" method="post")
          each slot in slots

            .form-check
              input.form-check-input(type="radio" name="appnts" value=slot.appnt id=slot.id)
              label.form-check-label(for=slot) #{slot.human}
          p.my-4 Bitte wählen Sie den gewünschten Termin und geben Sie unten Ihre Daten ein. Bitte beachten Sie, dass eine Terminvergabe mit diesem Tool nur möglich ist, wenn Sie bereits mit diesen Daten in unserer Patientenkartei erfasst sind.
          p Wenn Sie 'Absenden' klicken, werden wir diese Terminanfrage zusammen mit den eingegebenen Daten speichern.
            | Wir verwenden diese Daten ausschliesslich zum Verwalten des Termins und um Sie beispielsweise bei Verschiebungen
            | zu kontaktieren. Keinerlei Daten werden weitergegeben oder für andere Zwecke verwendet.
          p Wenn Sie dies nicht wünschen, verlassen Sie einfach diese Sweite ohne auf 'Absenden' zu klicken, dann wird nichts gespeichert.
            | Sie können jederzeit auch telefonisch einen Termin vereinbaren.
          .form-row
            .col
              input.form-control(type="email" name="email" id="email" placeholder="E-Mail Adresse")
            .col
              input.form-control(type="text" name="bdate" id="bdate" placeholder="Geburtsdatum (tt.mm.jjjj)")
          input.my-4(type="submit" value="Absenden")
