//- This file is part of Webelexis, Copyright (c) 2015 by G. Weirich

h2.h2(data-bind="heading")

- var fields1=["vorname","name","geburtsdatum","email"]
- var fields2=["strasse", "plz", "ort","telefon", "mobil", "krankenkasse", "versicherungsnummer"]
- var fcss="col-lg-3 col-md-4 col-sm-6 col-xs-12"
mixin createFields
  .row(data-bind="with: data")
    each val, index in f
      .form-group(class="#{fcss}")
          label(for=val data-bind="text: $parent.labels[#{index}]")
          input.form-control(id=val name=val type="text" data-bind="value: #{val}")
    .clearfix
    .form-group(class="#{fcss}")
      label(for="pass" data-bind="text: $parent.locale('password')") 
      input.form-control(id="pass" name="pass" type="password" data-bind="value: pass")
    .form-group(class="#{fcss}")
      label(for="pwdrep" data-bind="text: $parent.locale('password_rep')")
      input.form-control(id="pwdrep" name="pwdrep" type="password")


form.form#eingabe(data-bind="submit: send")
  div
    input(type="radio" name="anzeige" id="anzeige_alt" value="palt" data-bind="checked: accountDisplay")
    span(data-bind="text: locale('existing_pat')")  
  div
    input(type="radio" name="anzeige" id="anzeige_neu" value="pneu" data-bind="checked: accountDisplay") 
    span(data-bind="text: locale('new_pat')") 
  div
    input(type="radio" name="anzeige" id="login_only" value="login" data-bind="checked: accountDisplay")
    span(data-bind="text: locale('goto_login')") 

  div(data-bind="visible: accountDisplay()=='palt'")
    - var f=fields1
    +createFields
                  
  div(data-bind="visible: accountDisplay()=='pneu'") 
    - var f=fields1.concat(fields2)
    +createFields

  .clearfix
  div(data-bind="visible: accountDisplay()!='login'")
    h3.h3(data-bind="text: locale('privacy_header')")
    p(data-bind="text: locale('privacy_body')")
       
    button.btn.btn-primary(type="submit" data-bind="text: locale('send_form')")
