//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
mixin createGroup(item,range)
  td
    span(data-bind="text: $parents[1].displayText(#{item}.min), css: {red: $parents[1].outOfRange(#{range},#{item}.min)}" style="font-size:xx-small")
    span(data-bind="text: $parents[1].displayText(#{item}.avg), css: {red: $parents[1].outOfRange(#{range},#{item}.avg)}" style="margin-left:0.4em;margin-right:0.4em")
    span(data-bind="text: $parents[1].displayText(#{item}.max), css: {red: $parents[1].outOfRange(#{range},#{item}.max)}" style="font-size:smaller")
          
mixin createHeading(item)
    th(data-bind="text: $parent.R['#{item}']")
  
.row(data-bind="visible: loaded()==false")
  .col-xs-12
    img(src="img/ekg.gif" data-bind="attr: {alt: R['loading']}")
 div(data-bind="visible: loaded, foreach: groups")
  .row
    .col-xs-12
      span(data-bind="text: $parent.groupname($data), click: $parent.openGroup($index)")
      span.caret 
      div(data-bind="if: $parent.activeGroup()==$index()")
        .table-responsive 
          table.table.table-striped.table-hover.table-condensed
            thead
              tr
                th
                +createHeading('parameter')
                +createHeading('actual')
                +createHeading('twelvemonths')
                +createHeading('older')
            tfoot
              tr
                th
                  button.btn.btn-default Details
                th
                  button.btn.btn-default Verlauf
            tbody
              // ko foreach: $parent.itemsInGroup($data) 
              tr(data-bind="click: function(){$parents[1].toggleItem($data)}")
                td
                  span.glyphicon.glyphicon-unchecked(data-bind="visible: !$parents[1].isChecked($data)")
                  span.glyphicon.glyphicon-check(data-bind="visible: $parents[1].isChecked($data)")
                td(data-bind="text: name+' ('+range+') ' ")
                +createGroup('act','range')
                +createGroup('med','range')
                +createGroup('old','range')
              // /ko 
              
        
          
