//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
mixin createGroup(item,range)
  .col-xs-3
    span(data-bind="text: $parent.displayText(#{item}.min), css: {red: $parent.outOfRange(#{range},#{item}.min)}" style="font-size:smaller")
    span.abstand(data-bind="text: $parent.displayText(#{item}.avg), css: {red: $parent.outOfRange(#{range},#{item}.avg)}" style="font-size:larger")
    span(data-bind="text: $parent.displayText(#{item}.max), css: {red: $parent.outOfRange(#{range},#{item}.max)}" style="font-size:smaller")
          
mixin createHeading(item)
  .col-xs-3
    h3.h3 #{item}
    
.row(data-bind="visible: loaded()==false")
  .col-xs-12
    img(src="img/ekg.gif" data-bind="attr: {alt: R['loading']}")
.row(data-bind="visible: loaded")
  +createHeading('Parameter')
  +createHeading('30 Tage')
  +createHeading('12 Monate')
  +createHeading('älter')
  // ko foreach: items 
  .row
    .col-xs-3
      span(data-bind="text: name+' '+range")
    +createGroup('act','range')
    +createGroup('med','range')
    +createGroup('old','range')
  // /ko 

  
