//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
//- Patient summary widget
mixin createButton(target,text)
  button.btn.btn-default(data-bind="click: function(){nav('#{target}')}" data-i18n="#{text}")

mixin createLink(field,ref)
  .col-xs-12.col-sm-6.col-md-3
    a.btn.btn-info.abstand(data-bind='text: patient().#{field}, attr: {href: "#{ref}"+patient().#{field}}, visible: patient().#{field}.length>0')

section
  .row
    .col-xs-12
      h3.h3(data-bind="text: displayName")
      p.small(data-bind="text: address")
      .row
        +createLink('telefon1','tel:')
        +createLink('telefon2','tel:')
        +createLink('natelnr','tel:')
        +createLink('email','mailto:')

      p.small(data-bind="text: remark")
  .row#buttons
    +createButton('patdetail','pers.title')
    +createButton('labview','lab.title')

