//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
//- Patient summary widget
mixin createButton(target,text)
  button.btn.btn-default(style="margin-right: 10px" data-bind="click: function(){nav('#{target}')}" data-i18n="#{text}")

mixin createLink(field,ref)
  .col-xs-12.col-sm-6.col-md-3(data-bind="if: doShow(patient().#{field})")
    a.btn.btn-info(style="margin-right: 5px" data-bind='text: patient().#{field}, attr: {href: "#{ref}"+patient().#{field}}')

section
  .row
    .col-xs-12
      h3.h3(data-bind="text: displayName")
      p.small(data-bind="text: address")
      .row#phonelinks
        +createLink('telefon1','tel:')
        +createLink('telefon2','tel:')
        +createLink('natelnr','tel:')
        +createLink('email','mailto:')
      hr
      p.small(data-bind="text: remark")
  .row#buttons
    +createButton('patdetail','pers.title')
    +createButton('labview','lab.title')
    +createButton('conslist','cons.list')

